%div{id: dom_id(comment)}
  %p
    %strong User:
    = link_to comment.user.email, comment.user

  %p
    %strong Post:
    = link_to comment.post.id, comment.post

  %p
    %strong Body:
    = comment.body
