<div id="counter">
  Please wait...
</div>

<%= javascript_include_tag "counter", "data-turbo-eval": "false" %>

<script>
 function loadElm(){
   var enode = document.getElementById("counter");
   if (enode)
   { var app = Elm.Counter.init({node: enode,
                                 flags: "no flags"})};
   // use ports and stuff here
 };
 document.addEventListener("DOMContentLoaded", loadElm);
</script>
